<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Street Address" formControlName="address" required autocomplete="address-line1" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Street Address 2" formControlName="address2" autocomplete="address-line2" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="City" formControlName="city" required autocomplete="address-level2" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      placeholder="State"
      formControlName="state"
      required
      [matAutocomplete]="auto"
      autocomplete="address-level1"
      (change)="fixStateAutoFill($event)"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Zip" formControlName="zip" required autocomplete="postal-code" />
  </mat-form-field>
</form>
