<mat-sidenav-container fullscreen (backdropClick)='close()'>
    <mat-sidenav #sidenav>
        <!--Empty button to deal with highlighting first button on navbar (hacky)-->
        <button mat-button></button>
        <button mat-button class='sidenav-button' *ngFor='let item of items'
            [class.mat-primary]="router.url === item.path" 
            [routerLink]="[item.path]" 
            (click)='close()'>
            <mat-icon>{{item.icon}}</mat-icon>{{item.text}}
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class='content'>
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>