/* You can add global styles to this file, and also import other style files */

@import './custom-theme';

body {
    margin: 0;
};

.single-card-container{
    // TODO selector for mobile
    margin: 20px calc(15%) 0px calc(15%);
    .form-container {
        display: flex;
        flex-direction: column;
        textarea{
            min-height: 125px;
        }
      }
      
    .form-container > * {
        width: 100%;
    }

    mat-card-actions{
        display: flex;
    }
}

.spacer{
    flex: 1 1 auto;
}

app-root{
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
}