.mat-column-edit {
  max-width: 200px;
  padding-right: 15px;
}

.schedule-modal {
  .full-width-input {
    width: calc(100%);
  }
  .half-width-input-left {
    width: calc(45%);
    padding-right: calc(5%);
  }
  .half-width-input-right {
    width: calc(45%);
    padding-left: calc(5%);
  }
}
