<mat-table mat-table [dataSource]="dataSource" class="contact-table">

    <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
        <mat-cell *matCellDef="let message">
            {{message.firstName}} {{message.lastName}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let message">
            {{message.email}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
        <mat-cell *matCellDef="let message">
            {{message.timestamp | date:'mediumDate':'UTC'}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
        <mat-cell *matCellDef="let message">
            {{message.body}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="view">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let message">
            <button mat-button class='toolbar-icon' (click)="openMessage(message)">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
        *matRowDef="let message; columns: columnsToDisplay"
        [ngClass]="{'contact-table-unread':!message.isRead}"></mat-row>
</mat-table>