<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Parent first name" formControlName="parentFirstName" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Parent last name" formControlName="parentLastName" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Phone Number" formControlName="phoneNumber" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="emailAddress" required />
  </mat-form-field>
</form>
