<div class="paypal-form-container">
  <form class="paypal-form" ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <div class="hidden-input">
      <input name="cmd" value="_s-xclick" />​ <input name="hosted_button_id" value="X9AP9SH74PM3Q" />​
    </div>
    <button mat-button>Pay Now (already registered)</button>
  </form>
  ​

  <form class="paypal-form" ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <div class="hidden-input">
      <input name="cmd" value="_s-xclick" />
      <input name="hosted_button_id" value="YJZ6SEG6DMXZ8" />
    </div>
    <button mat-button>Donate</button>
  </form>

  <form
    class="paypal-form"
    ngNoForm
    *ngIf="displayCampRegistration"
    action="https://www.paypal.com/cgi-bin/webscr"
    method="post"
    target="_blank"
  >
    <div class="hidden-input">
      <input name="cmd" value="_s-xclick" />​ <input name="hosted_button_id" value="YXDRSCMFM6GB2" />​
      <input name="currency_code" value="USD" />
      <input name="on0" value="Number of Children" />
      <input name="os0" value="1 Child" />
    </div>
    <button mat-button>Pay for 2019 Camp (1 Child)</button>
  </form>

  <form
    class="paypal-form"
    ngNoForm
    *ngIf="displayCampRegistration"
    action="https://www.paypal.com/cgi-bin/webscr"
    method="post"
    target="_blank"
  >
    <div class="hidden-input">
      <input name="cmd" value="_s-xclick" />​ <input name="hosted_button_id" value="YXDRSCMFM6GB2" />​
      <input name="currency_code" value="USD" />
      <input name="on0" value="Number of Children" />
      <input name="os0" value="Family Plan" />
    </div>
    <button mat-button>Pay for 2019 Camp (Family Plan)</button>
  </form>
</div>
