<div class="paypal-form-container">
  <form class="paypal-form" ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <div class="hidden-input">
      <input name="cmd" value="_s-xclick" />​ <input name="hosted_button_id" value="X9AP9SH74PM3Q" />​
    </div>
    <button mat-button>Pay Now (already registered)</button>
  </form>
  ​

  <form class="paypal-form" ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <div class="hidden-input">
      <input name="cmd" value="_s-xclick" />
      <input name="hosted_button_id" value="YJZ6SEG6DMXZ8" />
    </div>
    <button mat-button>Donate</button>
  </form>
</div>
<!--
    <div class='paypal-form-container'>
    <div class='paypal-form'>
        <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <div class='hidden-input'>
                <input name="cmd" value="_s-xclick" />​
                <input name="hosted_button_id" value="X9AP9SH74PM3Q" />​
            </div>
            <button mat-button>Pay Now (already registered)</button>
        </form>​
    </div>
    <div class='paypal-form'>
        <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <div class='hidden-input'>
                <input class='hidden-input' name="cmd" value="_s-xclick" />
                <input class='hidden-input' name="hosted_button_id" value="YJZ6SEG6DMXZ8" />
            </div>
            <button mat-button>Donate</button>
        </form>
    </div>
</div>
-->
