<div class='single-card-container sides-container'>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span class='mat-title'>Register</span>
            </mat-card-title>
            <mat-card-subtitle class='registration-card-subtitle'>
                <span>Summer {{year}} Program, Sunday Evenings at Flodin Park, Canton, MI, $20/child or $30/family</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="registration-content">
            <mat-horizontal-stepper [linear]='true' #stepper (selectionChange)='step(stepper)'>
                <mat-step [stepControl]='parentInformation.control'>
                    <ng-template matStepLabel>Contact Information</ng-template>
                    <dh-register-parent-information [registration]='registerModel'></dh-register-parent-information>
                </mat-step>
                <mat-step [stepControl]='addressInformation.control'>
                    <ng-template matStepLabel>Address</ng-template>
                    <dh-register-address-information [registration]='registerModel'></dh-register-address-information>
                </mat-step>
                <mat-step [stepControl]='childrenInformationControl'>
                    <dh-child-count-selector (onInit)='childCountChanged($event)' (change)='childCountChanged($event)'></dh-child-count-selector>
                    <ng-template matStepLabel>Child Information</ng-template>
                    <dh-register-children-information [registration]='registerModel'></dh-register-children-information>
                </mat-step>
                <mat-step [stepControl]='eventRegistration.control'>
                    <ng-template matStepLabel>Event Registration</ng-template>
                    <dh-register-events [registration]='registerModel'></dh-register-events>
                </mat-step>
                <mat-step [stepControl]='comments.control'>
                    <ng-template matStepLabel>Comments</ng-template>
                    <dh-register-comments></dh-register-comments>
                </mat-step>
                <mat-step [stepControl]='paymentInformation.control'>
                    <ng-template matStepLabel>Payment Type</ng-template>
                    <dh-register-payment-information [registration]='registerModel'></dh-register-payment-information>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <dh-register-final-step [loading]='isRegistering || isSendingComment' [paymentType]='paymentType'></dh-register-final-step>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
        <mat-card-actions>
            <span class='spacer'></span>
            <button mat-raised-button color='primary' *ngIf='formIndex !== 0 && formIndex != 6' (click)='goBack(stepper)'>Previous</button>
            <button mat-raised-button color='primary' *ngIf='formIndex !== 5 && formIndex != 6' (click)='goForward(stepper)'>Next</button>
            <button mat-raised-button color='primary' *ngIf='formIndex === 5' (click)='register(stepper)'>Register</button>
            <button mat-raised-button color='primary' *ngIf='formIndex === 6' [routerLink]="['/schedule']">Season Schedule</button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf='isDev'>
    {{ registerModel | json }}
</div>