.title{
    text-align: center;
    font-size: 72px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
    .display-box{
        // TODO : media query switch to span to edges
        margin: 10px;
        width : calc(100%);
        display: flex;
        div {
            background: white;
            padding: 15px;
        }
    }
}
