<div>
    <h2 class="title">Detroit Harps</h2>
    <div class="container">
        <div class="display-box mat-elevation-z1">
            <div>
                <h1>Our Mission</h1>
                <p>We are a volunteer-run organization dedicated to the promotion and preservation of youth Gaelic games in the metro Detroit area.</p>
            </div>
        </div>
        <div class="display-box mat-elevation-z1">
            <div>
                <h1>The Detroit Harps Gaelic Football Club</h1>
                <p>Our summer program in Canton has now been formally named the Detroit Harps Gaelic Football Club. We chose the Harp as our club name as it has been a national symbol of Ireland for hundreds of years. Our Football program is open to ages 5-14. Beginning in 2016 we will have a local 7-a-side league established for each age group and will be organizing games and tournaments against other Midwest clubs. New players are always welcome. Experience with Gaelic Football is not required. Through the generosity of our sponsors, club supporters and volunteers, we are able to keep the cost of our program to minimal fee. Our goal is to encourage as many kids as possible to try out this exciting sport. For any question or further information, please see our Contact page.</p>
            </div>
        </div>
        <div class="display-box mat-elevation-z1">
            <div>
                <h1>Announcements</h1>
               <ul>
                    <li *ngFor="let announcement of announcements">{{announcement}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
