<mat-toolbar color='primary' class='mat-elevation-z6'>
    <button mat-button (click)='sidenav.open()'>
        <mat-icon>menu</mat-icon>
    </button>
    <span class='title hide-mobile'>{{title}}</span>
    <span class='spacer'></span>
    <a mat-button class='toolbar-icon' href='{{facebookUrl}}'>
        <mat-icon svgIcon='facebook'></mat-icon>
    </a>
    <a mat-button class='toolbar-icon' href='{{twitterUrl}}'>
        <mat-icon svgIcon='twitter'></mat-icon>
    </a>
    <a mat-button class='toolbar-icon' href='{{instagramUrl}}'>
        <mat-icon svgIcon='instagram'></mat-icon>
    </a>
    <a mat-button class='toolbar-icon' href='{{shopUrl}}'>
        <mat-icon>shop</mat-icon>
    </a>
</mat-toolbar>
<mat-sidenav-container fullscreen (backdropClick)='sidenav.close()'>
    <mat-sidenav #sidenav>
        <!--Empty button to deal with highlighting first button on navbar (hacky)-->
        <button mat-button></button>
        <button mat-button class='sidenav-button' 
            [class.mat-primary]="router.url === '/'" 
            [routerLink]="['']" 
            (click)='sidenav.close()'>
            <mat-icon>home</mat-icon>Home
        </button>
        <button mat-button class='sidenav-button'
            [class.mat-primary]="router.url === '/schedule'"
            [routerLink]="['schedule']"
            (click)='sidenav.close()'>
            <mat-icon>event</mat-icon>Schedule
        </button>
        <button mat-button class='sidenav-button' 
            [class.mat-primary]="router.url === '/contact'"
            [routerLink]="['contact']" 
            (click)='sidenav.close()'>
            <mat-icon>chat</mat-icon>Contact
        </button>
        <button mat-button class='sidenav-button' 
            [class.mat-primary]="router.url === '/photos'"
            [routerLink]="['photos']" 
            (click)='sidenav.close()'>
            <mat-icon>folder</mat-icon>Photos
        </button>
        <button mat-button class='sidenav-button' 
            [class.mat-primary]="router.url === '/about'"
            [routerLink]="['about']" 
            (click)='sidenav.close()'>
            <mat-icon>info</mat-icon>About
        </button>
        <button mat-button class='sidenav-button' 
            [class.mat-primary]="router.url === '/support'"
            [routerLink]="['support']" 
            (click)='sidenav.close()'>
            <mat-icon>thumb_up</mat-icon>Support Us
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class='content'>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>