<header class="home-header">
  <div class="header-div">
    <div class="header-title">
      <h1>{{ title }}</h1>
      <h2>Detroit Youth Gaelic Football</h2>
    </div>
    <div class="header-button">
      <button mat-raised-button [routerLink]="['register']">{{ registrationText }}</button>
    </div>
    <div *ngIf="displayCampRegistration" class="header-button">
      <a mat-raised-button [href]="campRegistrationUrl">{{ campRegistrationText }}</a>
    </div>
  </div>
</header>
<div class="home-content">
  <h1>Our Mission</h1>
  <p>
    We are a volunteer-run organization dedicated to the promotion and preservation of youth Gaelic games in the metro
    Detroit area.
  </p>
  <h1>The Detroit Harps Gaelic Football Club</h1>
  <p>
    Our summer Gaelic Football program is open to boys and girls ages 5-16. We meet on Sundays evenings in the summer at
    Flodin Park in Canton, MI. Please see our Schedule link for additional details. New players are always welcome.
    Experience with Gaelic Football is not required. Through the generosity of our sponsors, club supporters and
    volunteers, we are able to keep the cost of our program to a nominal fee. Our goal is to encourage as many kids as
    possible to try out this exciting sport. For any question or further information, please see our Contact page.
  </p>
</div>
<div class="home-footer">
  <div class="home-footer-contents">
    <dh-paypal-footer></dh-paypal-footer>
  </div>
</div>
