.home-header {
  height: 330px;
  width: calc(100%);
  background: #3f51b5;
  .header-div {
    text-align: center;
    padding-top: 60px;
    width: calc(99%);
    .header-title {
      h1 {
        text-align: center;
        width: calc(100%);
        color: hsla(0, 0%, 100%, 0.87);
        font-size: 56px;
        font-weight: 300;
        margin: 15px 5px;
      }
      h2 {
        text-align: center;
        width: calc(100%);
        color: hsla(0, 0%, 100%, 0.87);
        font-size: 18px;
        font-weight: 300;
        margin: 15px 0 25px 0;
      }
    }
    .header-button {
      button {
        color: #3f51b5;
        margin: 30px 0px 0px 0px;
      }
      a {
        color: #3f51b5;
        margin: 20px 0px;
      }
    }
  }
}

.home-content {
  padding: 30px calc(20%) 0px calc(20%);
}

.home-footer {
  padding: 50px calc(20%) 0px calc(20%);

  .home-footer-contents {
    border-top: 1px solid;
    border-top-color: rgba(0, 0, 0, 0.42);
  }
}
