<div class="sides-container">
  <div>
    <br />
    <br />
    <h1>Please Support Us</h1>
    <p>
      Our primary purpose is the promotion and development of youth Gaelic games in our area. Our programs are run
      entirely by volunteers. Please consider supporting us in one of the following areas.
    </p>
    <br />
    <h2>Sponsorship</h2>
    <p>
      While our programs are expanding considerably this year, we intend to keep the registration fees for the kids to a
      minimum. This is to make our programs accessible to as many kids as possible and to encourage new kids to try out
      Gaelic football. If you are aware of any businesses or organizations that may be interested in sponsorship, please
      ask them to contact us at detroitharps@gmail.com
    </p>
    <h2>Donations</h2>
    <p>
      Donations can be made on our website through Paypal or mailed to:
      <br />
      28156 North Clement Circle
      <br />
      Livonia 48150
      <br />
      (please make checks out to Detroit Youth GAA)
    </p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ngNoForm>
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="YJZ6SEG6DMXZ8" />
      <input
        type="image"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
        border="0"
        name="submit"
        alt="PayPal - The safer, easier way to pay online!"
      />
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <h2>Volunteer</h2>
    <p>
      We are always in need of volunteers. Please consider volunteering. We need help with various aspects of the
      administration of the club and with coaching and referees for our summer league. There is no experience with
      Gaelic football required to help with coaching. Also we will be hosting a free 1-day foundation coaching course in
      the spring of 2016 for all coaches in our club. More details will follow.
    </p>
  </div>
</div>
