<div class='sides-container'>
    <div class='flex-div'>
        <span class='spacer'></span>
        <img class='fit-img' src='assets/photos/field.jpeg'/>
        <span class='spacer'></span>
    </div>
    <div>
        <br />
        <br />
        <h2>Gaelic Football</h2>
        <p>
            Gaelic Football is a field game which has developed as a distinct game 
            similar to the progression of Australian Rules. Gaelic Football is 
            played on a pitch up to 145m long and 90m wide. The goalposts are the 
            same shape as on a rugby pitch, with the crossbar lower than a rugby one 
            and slightly higher than a soccer one.
            <br />
            <br />
            The ball used in Gaelic Football is round, slightly smaller than a soccer 
            ball. It can be carried in the hand for a distance of four steps and can 
            be kicked or "hand-passed", a striking motion with the hand or fist. After 
            every four steps the ball must be either bounced or "solo-ed", an action 
            of dropping the ball onto the foot and kicking it back into the hand. You 
            may not bounce the ball twice in a row.
            <br />
            <br />
            To score, you put the ball over the crossbar by foot or hand / fist for one 
            point or under the crossbar and into the net by foot or the hand / fist in 
            certain circumstances for a goal, the latter being the equivalent of three 
            points. Each team consists of 15 players, lining out as per the diagram.
            <br />
            <br />
            Officials for a game comprise of a referee, two linesmen (to indicate when 
            the ball leaves the field of play at the side and to mark '45’ free kicks) 
            and four umpires (to signal scores, assist the referee in controlling the 
            games, and to assist linesmen in positioning '45' frees).
            <br />
            <br />
            A goal is signalled by raising a green flag, placed to the left of the goal. 
            A point is signalled by raising a white flag, placed to the right of goal. 
            A '45' is signalled by the umpire raising his/her outside arm. A 'square ball', 
            when a player scores having arrived in the 'square' prior to receiving the 
            ball, is signalled by pointing at the small parallelogram.
        </p>
    </div>
</div>