<div class='single-card-container sides-container'>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <span class='mat-title'>Contact</span>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class='mat-body-1'>
                To learn more about the Detroit Harps Youth Gaelic Football Club 
                or if you interested in playing (all levels welcome), please message
                us using the form below or email us at detroitharps@gmail.com.
            </p>
            <div class='form-container'>
                <mat-form-field>
                    <input matInput placeholder='First Name' [formControl]="firstName" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder='Last Name' [formControl]="lastName" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder='Email' [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder='Message' [formControl]="message" required></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <span class='spacer'></span>
            <button mat-raised-button color='primary' [disabled]='!isValidForm()' (click)='send()'>Send</button>
        </mat-card-actions>
    </mat-card>
</div>
